.cover__link {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 740px;
}

.cover__link:hover {
    opacity: 0.3;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        height: 480px;
    }
}

@media screen and (max-width: 450px) {
    .cover__link {
        height: 200px;
    }
}