.header__lang {
    display: flex;
    gap: 18px;
    flex-direction: row;
    align-self: flex-end;
    margin: 0;
    list-style-type: none;
    padding: 0 0 6px;
}

@media screen and (max-width: 450px) {
    .header__lang {
        padding-bottom: 8px;
    }
}