.lead {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 984px;
    position: relative;
    margin: 0 auto;
    padding-top: 56px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 2*48px);
        padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        padding-top: 48px;
    }
}