.lead__title {
    max-width: 720px;
    margin: 0;
    line-height: 104%;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    padding: 0 0 32px;
}

@media screen and (max-width: 767px) {
    .lead__title {
        line-height: 110%;
        font-size: 40px;
        padding-bottom: 16px;
    }
}