.place__website_url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__website_url-heading {
        line-height: 12px;
    }
}
