.lead__subtitle {
    max-width: 640px;
    margin: 0;
    line-height: 120%;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0 0 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        line-height: 125%;
        font-size: 16px;
        padding-bottom: 40px;
    }
}