.cover {
    color: #FFFFFF;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    width: 1184px;
    height: 740px;
    margin: 92px 48px;
}

.cover:before {
    content: '';
    display: block;
    background-color: #2A2C2F;
    opacity: 0.3;
    width: 100%; /*не могу правильно растянуть*/
    transition: opacity 0.4s ease;
}

.cover:hover:before {
    background-color: #2A2C2F;
    opacity: 0.8;
}