.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    margin: 0 auto;
    max-width: 560px;
    position: relative;
    z-index: 1;
    padding: 245px 0 32px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding: 195px 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding: 115px 0 32px;
    }
}

@media screen and (max-width: 600px) {
    .cover__title {
        font-size: 60px;
    }
}

@media screen and (max-width: 450px) {
    .cover__title {
        max-width: 288px;
        padding: 33px 0 16px;
        font-size: 32px;
        line-height: 109%;
    }
}